* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #dac2a6;
}

#root{
  margin: 0 auto;
  width: 1220px;
}

body{
  background: #414a39;
}

.header-container{
  display: flex;
  justify-content: center;
}

.header {
  width: 1220px;
  position: sticky;
  top: 0;
  margin: 0 auto;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: #dac2a6cd ;
  font-family: 'jost';
  z-index: 1;
  border-radius: 20px ;
  position: fixed;
  margin-top: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #414a39;
}

.logo a span {
  color: #414a39;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #414a39;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

/* hero-banner-css */

.herobanner-wrapper{
  display: flex;
  gap: 20px;
  padding-top: 90px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}

.herobanner-wrapper img{
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px
}

.herobanner-wrapper p{
  width: 100%;
  font-size: 18px;
  align-items: center;
  text-align: center;
  font-family: 'jost';
}

/* Achievements section */

.achievements-wrapper{
  text-align: center;
  font-family: 'jost';
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dac2a6cd;
}

.achievements-content{
  padding-bottom: 50px;
}

.image-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  
}

.image-container img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Contact section */

.Contact-wrapper{
  text-align: start;
  font-family: 'jost';
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}

.Contact-wrapper h1{
  padding-top: 30px;
  padding-bottom: 20px;
}

/* media query starts from here */

@media only screen and (max-width: 950px) {
  .header {
    width: 90%;
  }

  .logo a {
    font-size: 20px;
  }

  #root{
    width: 90%;
  }

  .menu {
    flex-direction: column;
    background-color: #414a39;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
    color: #dac2a6;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #414a39;
    font-size: 28px;
    cursor: pointer;
  }

  .herobanner-wrapper{
    margin-top: 20px;
    flex-direction: column;
  } 
  .herobanner-wrapper img {
    object-fit: contain;
  }
}
